In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
Series_obj = Series(np.arange(8), index =['row 1','row 2','row 3', 'row 4', 'row 5', 'row 6', 'row 7', 'row 8'])
Series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32

In [6]:
#Label Index
Series_obj['row 5']

4

In [7]:
#Integer Index
Series_obj[0]

0

In [13]:
Series_obj[0],Series_obj[5]

(0, 5)

In [9]:
Series_obj[[0]]

row 1    0
dtype: int32

In [14]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)), index = ['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6'], 
                   columns = ['col 1','col 2', 'col 3', 'col 4', 'col 5', 'col 6'])
DF_obj

          col 1     col 2     col 3     col 4     col 5     col 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [22]:
a = DF_obj.loc[['row 2', 'row 5']]
print(a)
b = DF_obj.loc[['row 2', 'row 5'], ['col 5', 'col 2']]
b

          col 1     col 2     col 3    col 4     col 5     col 6
row 2  0.684969  0.437611  0.556229  0.36708  0.402366  0.113041
row 5  0.514244  0.559053  0.034450  0.71993  0.421004  0.436935

          col 5     col 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

In [24]:
#Data Slicing
Series_obj['row 3':'row 5']

row 3    2
row 4    3
row 5    4
dtype: int32

In [25]:
DF_obj['row 3':'row 5']

          col 1     col 2     col 3     col 4     col 5     col 6
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935

In [26]:
#Comparing with Scalars
DF_obj < .3

       col 1  col 2  col 3  col 4  col 5  col 6
row 1  False  False   True   True  False   True
row 2  False  False  False  False  False   True
row 3  False  False   True  False  False  False
row 4  False  False  False  False  False  False
row 5  False  False   True  False  False  False
row 6   True  False  False  False   True  False

In [28]:
#Filtering with scalars
Series_obj > 4

row 1    False
row 2    False
row 3    False
row 4    False
row 5    False
row 6     True
row 7     True
row 8     True
dtype: bool

In [31]:
Series_obj[Series_obj > 4]

row 6    5
row 7    6
row 8    7
dtype: int32

In [33]:
#Setting values with scalars
Series_obj['row 1', 'row 3', 'row 5'] = 0
Series_obj

row 1    0
row 2    1
row 3    0
row 4    3
row 5    0
row 6    5
row 7    6
row 8    7
dtype: int32

In [39]:
DF_obj[['row 1','col 1']] = 0
DF_obj

,col 1,col 2,col 3,col 4,col 5,col 6,row 1,row 3,row 5
row 1,0,0.582277,0.278839,0.185911,0.411100,0.117376,0,0,0
row 2,0,0.437611,0.556229,0.367080,0.402366,0.113041,0,0,0
row 3,0,0.585445,0.161985,0.520719,0.326051,0.699186,0,0,0
row 4,0,0.836375,0.481343,0.516502,0.383048,0.997541,0,0,0
row 5,0,0.559053,0.034450,0.719930,0.421004,0.436935,0,0,0
row 6,0,0.900274,0.669612,0.456069,0.289804,0.525819,0,0,0